.home-page {
    background-image: url('./../../../../assets/images/code-coder-coding-270404.jpg');
    background-size: cover;
    height:100vh;
    width: auto;
}

.introScreen {
    width: 60%;
    height: auto;
    background-color: white;
    padding: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 0.9;
    border-radius: 25px;
    margin-top: 20px;
}

.introText {
    text-align: center;
}

.profilePic {
    position: fixed;
    top: 20%;
    left: 40%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 8%;
    height: auto;
}

@media only screen and (max-width: 600px) {
    h3 {
        font-size: 1em;
    }
    h1 {
        font-size: 1.5em;
    }
}

