<!-- <p>
  home works!
</p>
<div class="background"></div> -->
<div class="home-page">
  <!-- <div>
    <img class="profilePic" src="./../../../../assets/images/blazeimg.jpg" />
  </div> -->
  <div class="introScreen">
    <h1 class="introText">Blaze Fugina / Web Developer</h1>
    <h3>Hello, my name is Blaze Fugina. I have more than one year of experience making great websites like the one you
      are viewing now. Please check out the links for more on my work in software. And feel free to contact me with any
      questions or requests for hire.</h3>
  </div>
</div>