.home-page {
    background-image: url('./../../../../assets/images/code-coder-coding-270404.jpg');
    background-size: cover;
    /* height:100vh; */
    height: 100%;
    width: auto;
    padding-top: 20px;
}

.introScreen {
    width: 70%;
    height: auto;
    background-color: white;
    padding: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    /* opacity: 0.8; */
    border-radius: 25px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (max-width: 450px) {
    img {
        width: 35px;
        height: auto;
    }
}