<div class="home-page">
  <div class="introScreen">
    <div class="paragraph">
      <h1>Contact Blaze</h1>
      <h3>Please use the links below to find my social media channels or reach me by email.</h3>
      <div fxLayout="row">
        <div fxFlex="25%">
          <div class="center">
            <a href="mailto:blaze.fugina@gmail.com">
              <img src="./../../../../assets/images/email.png" class="center">
            </a>
          </div>
        </div>
        <div fxFlex="25%">
          <a href="https://github.com/Blaze90809">
            <img src="./../../../../assets/images/github.png" class="center">
          </a>
        </div>
        <div fxFlex="25%">
          <a href="https://www.linkedin.com/in/blaze-fugina/">
            <img src="./../../../../assets/images/linkedinlogo.png" class="center">
          </a>
        </div>
        <div fxFlex="25%">
          <a href="https://twitter.com/blazefugina">
            <img src="./../../../../assets/images/twitterlogo.png" class="center">
          </a>
        </div>
      </div>
    </div>
  </div>
</div>