.home-page {
    /* background-image: url('./../../../../assets/images/code-coder-coding-270404.jpg');
    background-size: cover;
    height:100vh;
    width: auto; */
}

.worksPanel {
    /* background-color: gray; */
    background-image: url('./../../../../assets/images/code-coder-coding-270404.jpg');
    background-size: cover;
    Width: auto;
    height: auto;
    padding: 10px;
}

.example-card {
    /* max-width: 400px; */
    width: 50%;
    margin: 20px;
  }

  .mat-card-image {
    object-fit: cover; /*this makes de image in src fit to the size of specified below*/
    /* width: 100%; /* Here you can use wherever you want to specify the width and also the height of the <img>*/
    height: 200px;
  }

  @media only screen and (max-width: 600px) {
      .example-card {
        width: 80%;
        margin: 0 auto;
        margin-bottom: 20px;
      }
  }
  @media only screen and (min-width: 600px) and (max-width: 960px) {
      .example-card {
          margin: 10px;
          width: 50%;
      }
  }

  .rowSize {
      width: 100%;
  }
@media only screen and (min-width: 960px) {
    .mat-card-image {
        height: 350px;
    }
}

.hedStuff {
    /* padding-left: 20px; */
    background-color: white;
    width: 70%;
    margin: 0 auto;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
}
  /* height: 350px; */
  .background {
      background-color: gray;
  }
