<!-- <div class="home-page"> -->
<!-- <div class="background"> -->
    <div class="worksPanel">
        <div class="hedStuff">
            <h1>Blaze's Work</h1>
            <p>Here are a few of the personal projects I have spent my time developing.</p>
        </div>

        <div class="rowSize" fxLayout="row" fxLayout.xs="column">
            <mat-card class="example-card">
                <mat-card-header>
                    <mat-card-title>Percent Back Application</mat-card-title>
                </mat-card-header>
                <img mat-card-image src="./../../../../assets/images/PercentBackScreen.png">
                <mat-card-content>
                    <p>This Percent Back application gives cross-country skiers a program to help track and anaylize
                        results. The application takes information from completed races and calculates percent-back
                        from the leader. Users have the opportunity to view results in a table. This program was
                        written with React, Express, Node.js and MongoDB.</p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button onclick="location.href='//nordicracetrack.com/'">LINK</button>
                    <button mat-button onclick="location.href='https://github.com/Blaze90809/react-app-percent-back'">GITHUB</button>
                </mat-card-actions>
            </mat-card>
            <mat-card class="example-card">
                <mat-card-header>
                    <mat-card-title>Project Footprint</mat-card-title>
                </mat-card-header>
                <img mat-card-image src="./../../../../assets/images/footprint.png">
                <mat-card-content>
                    <p>
                        The Footprint environmental impact calculator is a full-stack application that gives
                        organizations
                        the opportunity to upload their data and view a timeline-based breakdown of carbon emissions.
                        Project Footprint was a group project created by Blaze and Prime students Zack Stout, Jaffa
                        Aharanov and Holly Tuhake.</p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button onclick="location.href='https://polar-spire-15237.herokuapp.com/#/home'">LINK</button>
                    <button mat-button onclick="location.href='https://github.com/Blaze90809/footprint-project'">GITHUB</button>
                </mat-card-actions>
            </mat-card>
        </div>
        <div fxLayout="row" fxLayout.xs="column">
            <mat-card class="example-card">
                <mat-card-header>
                    <mat-card-title>Pitch Aid</mat-card-title>
                </mat-card-header>
                <img mat-card-image src="./../../../../assets/images/pitchaid.png">
                <mat-card-content>
                    <p>
                        Pitch Aid is a full-stack web application that gives fantasy baseball players a tool to monitor
                        the
                        starting pitchers they use on their teams. The program enables users to enter their pitchers’
                        first
                        and last names and uses an API to fill in relevant Major League Baseball statistics. The
                        pitcher
                        statistics are stored in MongoDB by ID, which means registered users only have the option to
                        view
                        the specific pitchers they have entered.</p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button onclick="location.href='https://pitch-aid.herokuapp.com/#/home'">LINK</button>
                    <button mat-button onclick="location.href='https://github.com/Blaze90809/pitch-aid'">GITHUB</button>
                </mat-card-actions>
            </mat-card>
            <mat-card class="example-card">
                <mat-card-header>
                    <mat-card-title>Kiosk App</mat-card-title>
                </mat-card-header>
                <img mat-card-image src="./../../../../assets/images/kiosk.png">
                <mat-card-content flex>
                    <p>This Kiosk application is written to match a touch-screen kiosk that allows customers to
                        purchase
                        items. The full-stack application stores products in a Mongo database and utilizes GET routes
                        to
                        display items by category. Items and total cost are also displayed in a receipt on the side. The program is written using the MEAN stack - Mongo, Express,
                        AngularJS,
                        and Node.js.</p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button onclick="location.href='https://floating-fjord-79924.herokuapp.com/'">LINK</button>
                    <button mat-button onclick="location.href='https://github.com/Blaze90809/kiosk-app'">GITHUB</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
<!-- </div> -->
<!-- </div> -->