<!-- <img src="./../../../../assets/images/blazeimg.jpg"> -->
<div class="home-page">
  <!-- <mat-card> -->
  <!-- <mat-card-title-group> -->
  <!-- <mat-card-title>About Blaze Fugina</mat-card-title> -->
  <!-- <img mat-card-md-image src="./../../../../assets/images/blazeimg.jpg"> -->
  <!-- </mat-card-title-group> -->
  <!-- <mat-card-content> -->
  <div class="introScreen">
    <h1 class="hed">About Blaze Fugina</h1>
    <div class="flex-container">
      <!-- <mat-grid-list cols="4">
      <mat-grid-tile cols="3">  -->
      <div class="paragraph">

        <p>Hello, I am Blaze Fugina, a web developer based in the Twin Cities.</p>
        <p>After working in the field of journalism for most of my 20s, I decided to make a career switch to software
          development. After graduating from Prime Digital Academy, a programming boot camp based in the Twin Cities,
          I
          was
          hired to my current position as a front-end developer at <a href="http://www.turnkeycorrections.com/">Turnkey
            Corrections/Three Square Market </a>.</p>
        <p>Aside from my fulltime work, I also enjoy cross-country skiing, snowboard and playing tennis. As you can
          tell, I
          love the cold and snowy winters we often get in the Upper Midwest.</p>
        <p>I am always looking for a new challenge, so feel free to reach out with any requests for freelance help.
          Or
          just
          to say hi. My contact information is available in the contacts page.</p>
      </div>
      <!-- </mat-grid-tile> -->
      <!-- <mat-grid-tile cols> -->
      <div class="image">
        <img src="./../../../../assets/images/blazeimg.jpg">
      </div>
      <!-- </mat-grid-tile>
    </mat-grid-list> -->
    </div>
    <!-- </mat-card-content>
  </mat-card> -->
  </div>
</div>